<%= simple_form_for [:my, @meal] do |f| %>
<div class="row">
  <div class="col-md-3">
    <p>Date</p>
  </div>
  <div class="col-md-9">
    <%= f.input :date,
    html5: true,
    as: :date,
    label: 'Date',
    input_html: { min: Date.tomorrow } %>
  </div>
  <div class="col-md-3">
    <p>Formule</p>
  </div>
  <div class="col-md-9">
    
  </div>
  <div class="col-md-12">
    <%= f.input :capacity, label: 'Combien de convives peuvent venir?' %>
  </div>
  <div class="col-md-12">
    <%= f.input :confirmed, label: 'Combien de convives ont confirmé leur présence?' %>
  </div>
  <%= f.button :submit, 'Publier', class: 'btn-default' %>
  <% end %>
</div>