<%= content_for :title, t('my.meals.name') %>
<%= render 'my/nav' %>
<%= render 'my/container' %>
  <h2><%= t('my.meals.name') %></h2>
  <%= link_to 'Proposer un repas', new_my_meal_path, class: 'btn btn-primary btn-default' %>
  <div class="table-responsive table-body">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Places totales</th>
          <th scope="col">Convives confirmés</th>
          <th scope="col">Places disponibles</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <% @meals.each do |meal| %>
      <tbody>
        <tr>
          <td><%= l meal.date, format: :day unless meal.date.nil?%></td>
          <td><%= meal.capacity %></td>
          <td><%= meal.confirmed %></td>
          <td><%= meal.remaining %></td>
          <td> <%= link_to 'Modifier', edit_my_meal_path(meal), class: 'btn btn-primary btn-update' %>
            <%= link_to 'Annuler ce repas',
            my_meal_path(meal),
            method: :delete,
            data: { confirm: 'Attention, l\'annulation est définitive' },
          class: 'btn btn-danger btn-red' %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
<%= render 'my/container_end' %>
