<%= content_for :title, t('my.meals.name') %>
<div class="container">
  <%= render 'my/nav' %>
</div>
<div class="container-fluid bg-user-profil">
  <div class="container">
    <div class="row">
      <div class="user-profil col-md-11 offset-md-1">
        <h2><%= t('my.meals.name') %></h2>
        <%= link_to 'Proposer un repas', new_my_meal_path, class: 'btn btn-primary' %><br/>
        <br/>
        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Places totales</th>
              <th>Convives confirmés</th>
              <th>Places disponibles</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @meals.each do |meal| %>
            <tr>
              <td><%= l meal.date, format: :day unless meal.date.nil?%></td>
              <td><%= meal.capacity %></td>
              <td><%= meal.confirmed %></td>
              <td><%= meal.remaining %></td>
              <td>
                <%= link_to 'Modifier', edit_my_meal_path(meal), class: 'btn btn-primary btn-default' %>
                <%= link_to 'Annuler ce repas',
                my_meal_path(meal),
                method: :delete,
                data: { confirm: 'Attention, l\'annulation est définitive' },
                class: 'btn btn-danger' %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>