<%= content_for :title, t('my.profile') %>

<div class="container">
  <%= render 'my/nav' %>

  <h2><%= t('my.profile') %></h2>

  <%= simple_form_for(@user, url: my_profile_path, html: { method: :put }, wrapper: :vertical_form) do |f| %>
    <div class="row">
      <div class="col col-md-4">
        <%= image_tag @user.photo.variant(resize: '300x300^', combine_options: { gravity: 'center', crop: '300x300+0+0' }), class: 'img-fluid' if @user.photo.attached? %>
        <%= f.input :photo %>
      </div>

      <div class="col col-md-8">
        <p><%= @user.approved ? 'Profil approuvé' : 'Profil non approuvé, envoyez votre carte d\'identité' %></p>
        <%= f.input :first_name, autofocus: true, label: 'Prénom' %>
        <%= f.input :last_name, label: 'Nom' %>
        <%= f.input :email, required: true, label: 'Email' %>
        <%= f.input :slug, 
                    required: true, 
                    label: 'Nom du compte', 
                    hint: "URL de profil : #{user_url(user_slug: @user.slug)}".html_safe %>
        <%= f.association :city, include_blank: false, collection: City.active, label: 'Ville' %>
        <%= f.input :description %>
        <%= f.input :identity_card, as: :file, label: 'Carte d\'identité' %>
        <% if @user.host? %>
          <%= f.input :specialties, as: :text, label: 'Spécialités' %>
          <div class="reception_days">
            <%= f.input :reception_days,
                        label: 'Jours préférés',
                        as: :check_boxes,
                        collection: [["0", 'Lundi'], ["1", 'Mardi'], ["2", 'Mercredi'], ["3", 'Jeudi'], ["4", 'Vendredi'], ["5", 'Samedi'], ["6", 'Dimanche']],
                        label_method: :second,
                        value_method: :first,
                        include_hidden: false,
                        checked: @user.reception_days %>
          </div>
        <% end %>
        <%= f.button :submit, 'Enregistrer' %>
      </div>
    </div>
  <% end %>
</div>