<%= content_for :title, t('menu.my.profile') %>

<%= render 'my/nav' %>

<h2><%= t('menu.my.profile') %></h2>

<%= simple_form_for(@user, url: my_profile_path, html: { method: :put }, wrapper: :vertical_form) do |f| %>
  <div class="row">
    <div class="col col-md-4">
      <%= f.input :photo %>
      <%= image_tag @user.photo.variant(resize: "200x200^") if @user.photo.attached? %>
    </div>

    <div class="col col-md-8">
      <p><strong>Vérification du profil</strong> : <%= @user.profile_verification %></p>
      <%= f.input :first_name, autofocus: true, required: true %>
      <%= f.input :last_name, required: true %>
      <%= f.input :email, required: true %>
      <%= f.input :slug, required: true, label: "Nom de compte", hint: "URL de profil : #{user_url(user_slug: @user.slug)}".html_safe %>
      <%= f.association :city, include_blank: false, collection: City.active %>
      <%= f.input :description %>

      <%= f.input :identity_card, as: :file %>

      <% if @user.host? %>
        <%= f.input :specialties, as: :text %>
        <div class="reception_days">
          <%= f.input :reception_days, as: :check_boxes, collection: [["0", 'Lundi'], ["1", 'Mardi'], ["2", 'Mercredi'], ["3", 'Jeudi'], ["4", 'Vendredi'], ["5", 'Samedi'], ["6", 'Dimanche']], label_method: :second, value_method: :first, include_hidden: false, checked: @user.reception_days %>
        </div>
      <% end %>
      <%= f.submit %>
    </div>
  </div>
<% end %>