<h1>Bonjour, <%= current_user %></h1>

<div class="nav nav-tabs mb-5" id="nav-tab" role="tablist">
  <%= link_to "Vos messages", dashboard_messages_path, class: "nav-item nav-link #{'active' if controller_name == 'messages'}" %>
  <% if can? :manage, :city %>
    <%= link_to "Votre activité", dashboard_ambassador_root_path, class: "nav-item nav-link #{'active' if controller_name == 'activity'}" %>
  <% end %>
  <%= link_to "Votre profil", dashboard_profile_path, class: "nav-item nav-link #{'active' if controller_name == 'profile'}" %>
  <!--
  <%= link_to "Vos avis", dashboard_advices_path, class: "nav-item nav-link #{'active' if controller_name == 'advices'}" %>
  <% if can? :create, :meals %>
    <%= link_to "Vos repas ouverts", dashboard_open_meals_path, class: "nav-item nav-link #{'active' if controller_name == 'open_meals'}" %>
  <% end %>
  -->
</div>
