<h1>Bonjour, <%= current_user %></h1>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <%= link_to "VOS MESSAGES", dashboard_messages_path, class: "nav-item nav-link #{'active' if controller_name == 'messages'}" %>
    <% if can? :manage, :city %>
      <%= link_to "VOTRE ACTIVITÉ", dashboard_ambassador_root_path, class: "nav-item nav-link #{'active' if controller_name == 'activity'}" %>
    <% end %>
    <%= link_to "VOTRE PROFIL", dashboard_profile_path, class: "nav-item nav-link #{'active' if controller_name == 'profile'}" %>
    <!--
    <%= link_to "VOS AVIS", dashboard_advices_path, class: "nav-item nav-link #{'active' if controller_name == 'advices'}" %>
    <% if can? :create, :meals %>
      <%= link_to "VOS REPAS OUVERTS", dashboard_open_meals_path, class: "nav-item nav-link #{'active' if controller_name == 'open_meals'}" %>
    <% end %>
    -->
  </div>
</nav>
