<h2>Hello <%= current_user.first_name %></h2>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <% if current_user.ambassador? %>
      <a class="nav-item nav-link <%= 'active' if @tab == 'activity' %>" id="nav-activity-tab" data-toggle="tab" href="#activity">VOTRE ACTIVITÉ</a>
    <% end %>

    <a class="nav-item nav-link <%= 'active' if @tab == 'messages' %>" id="nav-messages-tab" data-toggle="tab" href="#messages">VOS MESSAGES</a>
    <a class="nav-item nav-link <%= 'active' if @tab == 'profile' %>" id="nav-profile-tab" data-toggle="tab" href="#profile">VOTRE PROFIL</a>

    <% unless current_user.ambassador? %>
      <a class="nav-item nav-link <%= 'active' if @tab == 'advices' %>" id="nav-advices-tab" data-toggle="tab" href="#advices">VOS AVIS</a>
      <% if current_user.host? %>
        <a class="nav-item nav-link <%= 'active' if @tab == 'open-meals' %>" id="nav-open-meals-tab" data-toggle="tab" href="#open-meals">VOS REPAS OUVERTS</a>
      <% end %>
    <% end %>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <% if current_user.ambassador? %>
    <div class="tab-pane <%= 'active' if @tab == "activity" %>" id="activity">
      <%= render 'dashboard/partials/activity' %>
    </div>
  <% end %>

  <div class="tab-pane <%= 'active' if @tab == "messages" %>" id="messages">
    <%= render 'dashboard/partials/messages' %>
  </div>
  <div class="tab-pane <%= 'active' if @tab == "profile" %>" id="profile">
    <%= render 'dashboard/partials/profile' %>
  </div>

  <% unless current_user.ambassador? %>
    <div class="tab-pane <%= 'active' if @tab == "advices" %>" id="advices">
      <%= render 'dashboard/partials/advices' %>
    </div>
    <% if current_user.host? %>
      <div class="tab-pane <%= 'active' if @tab == "open-meals" %>" id="open-meals">
        <%= render 'dashboard/partials/open-meals' %>
      </div>
    <% end %>
  <% end %>
</div>