<%= content_for :title, t('my.reviews.name') %>
<%= render 'my/nav' %>
<%= render 'my/container' %>
  <div class="row">
    <div class="hosts__details user__reviews user-city col-md-12">
      <p>Vous avez échangé ou partagé un déjeuner avec ces membres ?</p>
      <h2><span class="style-name">Donnez</span> votre avis sur l'expérience !</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <% @conversations.each do |conversation| %>
      <% user = conversation.other(current_user).first %>
      <% next if user.nil? # Deleted user %>
      <% review = current_user.review_about(user) %>
      <div class="col-lg-4 mb-2">
        <div class="mb-3">
          <%= link_to user_path(user_slug: user.slug) do %>
          <%= render 'users/user_small', user: user, class: 'img-user' %>
          <% end %>
        </div>
        <p class="text-muted"><i>Seul votre convive pourra le consulter.</i></p>
      </div>
      <div class="col-lg-8 mb-5">
        <%= simple_form_for review, url: my_review_path(user_slug: user.slug) do |f| %>
          <%= f.input :text, label: false, input_html: { rows: 5 }, placeholder: 'Ecrivez quelque chose ...' %>
          <%= f.button :submit,  t('my.reviews.save'), class: 'btn-default' %>
        <% end %>
        <% unless review.new_record? %>
          <p class="badge badge-primary">
            <% if review.approved? %>
            <%= t('my.reviews.approved') %>
            <% else %>
            <%= t('my.reviews.unapproved') %>
            <% end %>
          </p>
        <% end %>
        <br/>
      </div>
    <% end %>
  </div>
<%= render 'my/container_end' %>
