<%= content_for :title, 'Tableau de bord' %>

<h2><%= @active_cities.count %> villes actives</h2>
<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Utilisateurs</th>
      <th>Ambassadeurs</th>
    </tr>
  </thead>
  <tbody>
    <% @active_cities.each do |city| %>
      <tr>
        <td><%= link_to city, [:admin, city] %></td>
        <td><%= city.users.count %></td>
        <td><%= city.users.ambassadors.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2><%= @inactive_cities.count %> villes inactives</h2>
<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Préinscriptions</th>
    </tr>
  </thead>
  <tbody>
    <% @inactive_cities.each do |city| %>
      <tr>
        <td><%= link_to city, [:admin, city] %></td>
        <td><%= city.preregisters.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
