<%= content_for :title, t('menu.my_cities.activity') %>

<div class="container">
  <h1><%= t('menu.my_cities.activity') %></h1>

  <% current_user.managed_cities.each do |city| %>
    <h3><%= city %></h3>
    <div class="row">
      <div class="col-md-3">
        <h1><%= city.users.profile_verification_pending.count %></h1>
        <p>en attente de confirmation</p>
        <%= link_to 'Valider', my_cities_users_pending_path(city_slug: city.slug), class: 'btn btn-primary' %>
      </div>
      <!--
      <div class="col-md-3">
        <h1>1</h1>
        <p>avis à valider</p>
        <%= link_to 'Valider', '', class: 'btn btn-primary' %>
      </div>
      -->
      <div class="col-md-3">
        <h1><%= city.conversations.count %></h1>
        <p>conversations en cours</p>
      </div>
      <!--
      <div class="col-md-3">
        <h1>1</h1>
        <p>repas ouvert</p>
      </div>
      -->
      <div class="col-md-3">
        <h1><%= city.users.hosts.count %></h1>
        <p>hôtes inscrits</p>
        <!--<p class="small">dont 120 actifs</p>-->
        <%= link_to 'Voir la liste', '', class: 'btn btn-primary' %>
      </div>
      <div class="col-md-3">
        <h1><%= city.users.guests.count %></h1>
        <p>convives inscrits</p>
        <!--<p class="small">dont 120 actifs</p>-->
        <%= link_to 'Voir la liste', '', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>