<%= content_for :title, @city %>
<div class="container">
  <h1 class="text-center mb-5"><span class="style-user">Hôtes</span> à <%= @city %></h1>
</div>
<section class="users__list">
  <div class="container">
    <%= render 'meals/list', meals: @meals %>
    <div class="title-user mt-5">
      <div class="row">
        <div class="col-md-11 offset-md-1">
          <h2><span class="style-user">Contactez</span> un hôte</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="map" data-center="<%= @map_center %>" data-markers="<%= @users_active %>" data-zoom="12"></div>
      <% if ENV['GOOGLE_MAPS_API_KEY'].present? %>
      <% end %>
    </div>
    <div class="row" id="users">
      <%= render partial: 'users/user', collection: @users %>
    </div>
    <% unless @users.empty? || @users.last_page? %>
    <%= link_to 'Voir plus',
    city_hosts_path(page: @hosts.current_page+1, city: @city.id),
    class: "btn btn-primary",
    id: "load-more-hosts",
    remote: true %>
    <% end %>
  </div>
</section>