<%= content_for :title, t('menu.hosts') %>

<h1><%= t('menu.hosts') %></h1>

<p>Choisissez votre ville :</p>
<ul>
  <% @cities.each do |city| %>
  <li><%= link_to city, city_hosts_path(city_slug: city.slug) %></li>
  <% end %>
</ul>

<!--
<section class="open-meals-section">
  <h3>TODO : Repas ouverts</h3>
</section>
-->

<section class="hosts-section">
  <h3>Contactez un hôte</h3>
  <div class="row">
    <% @hosts.each do |host| %>
      <%= render 'host', host: host %>
    <% end %>
  </div>
  <% unless @hosts.empty? || @hosts.last_page? %>
    <p class="actions"><%= link_to "VOIR PLUS", hosts_path(page: @hosts.current_page+1, city: @filter_city&.id), class: "btn btn-primary", id: "load-more-hosts", remote: true %></p>
  <% end %>
</section>