<%= content_for :title, t('menu.hosts') %>
<div class="container">
  <h1 class="text-center mb-5"><span class="style-user">Rencontrez</span> nos <%= t('menu.hosts') %></h1>
  <div class="user-city">
    <p>Choisissez votre ville</p>
    <ul class="list-inline btn-city">
      <% @cities.each do |city| %>
      <li class="list-inline-item"><%= link_to city, city_hosts_path(city_slug: city.slug), class: 'btn btn-primary' %></li>
      <% end %>
    </ul>
  </div>
</div>
<section class="users__list">
  <div class="container">
    <%= render 'meals/list', meals: @meals %>
    <div class="title-user mt-5">
      <div class="row">
        <div class="hosts__details user-city col-md-12">
          <p>Vous souhaitez participer à un déjeuner intergénérationnel ?</p>
          <hr>
          <div class="row">
            <div class="col-lg-5 col-md-5">
              <h2><span class="style-name">Contactez</span> directement l’hôte de votre choix</h2>
              <p>et convenez ensemble de la date et du menu</p>
            </div>
            <div class="col-lg-2 col-md-2 hosts__or"><h2>ou</h2></div>
            <div class="col-lg-5 col-md-5">
              <h2><span class="style-name">Complétez</span> une table ouverte</h2>
              <p>et rencontrez d’autres convives !</p>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
    <div class="row">
      <%= render partial: 'users/user', collection: @users %>
    </div>
    <% unless @users.empty? || @users.last_page? %>
      <div class="see-more">
      <%= link_to hosts_path(page: @users.current_page+1),
                  class: "btn btn-primary",
                  id: "load-more-users",
                  remote: true do %>
          Voir plus
          <i class="fas fa-angle-down"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</section>