<%= content_for :title, "#{@user}" %>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag @user.photo.variant(resize: '512x512^', combine_options: { gravity: 'center', crop: '512x512+0+0' }), class: 'img-fluid' if @user.photo.attached? %>
    </div>
    <div class="col-md-8">
      <h1><%= @user.full_name %></h1>
      <h2><%= @user.host? ? "Hôte" : "Convive" %> à <%= @user.city %></h2>
      <% if @user.ambassador? %>
        <p>Ambassadeur à <%= @user.managed_cities.join(', ') %></p>
      <% end %>

      <p><%= @user.approved? ? "Profil vérifié" : "Profil non vérifié" %></p>
      <%= link_to "ENVOYER UN MESSAGE", my_conversation_path(user_slug: @user.slug), class: "btn btn-primary contact-btn" %>
      <p><%= simple_format @user.description %></p>
      <% if @user.host? %>
        <p><strong>Spécialités :</strong> <%= @user.specialties %></p>
        <p><strong>Jours de réception :</strong></p>
        <ul>
          <% @user.localized_reception_days.each do |day| %>
          <li><%= day %></li>
          <% end %>
        </ul>
      <% end %>
      <% reviews = @user.reviews_received.approved %>
      <% if reviews.any? %>
        <hr/>
        <h2>Avis</h2>
        <ul class="list-unstyled">
          <% reviews.each do |review| %>
            <li>
              <p><%= simple_format review.text %></p>
              <p class="small">
                <%= link_to user_path(user_slug: review.from.slug) do %>
                  <%= render 'users/user_small', user: review.from %>
                <% end %>
                <br/>
                Avis publié le <%= l review.created_at, format: :long %>
              </p>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
