<%= content_for :title, "#{@user}" %>
<div class="container">
  <div class="row">
    <div class="user-profil-front col-md-11 offset-md-1">
      <div class="row">
        <div class="col-img-user col-md-4">
          <% if @user.photo.attached? %>
          <%= image_tag @user.photo.variant(resize: '512x512^', combine_options: { gravity: 'center', crop: '512x512+0+0' }), class: 'img-user img-fluid' %>
          <% else %>
          <%= image_tag 'avatar.png', class: 'img-user img-fluid' %>
          <% end %>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12 profile__approve">
              <% if @user.ambassador? %>
              <p>Ambassadeur à <%= @user.managed_cities.join(', ') %></p>
              <% end %>
              <%= render 'users/approved', user: @user %>
            </div>
            <div class="col-name col-6">
              <h4>Nom</h4>
              <p><%= @user.full_name %></p>
            </div>

            <div class="col-city col-6">
              <h4>Ville</h4>
              <p><%= @user.host? ? "Hôte" : "Convive" %> à <%= @user.city %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-desc-profil-front col-12">
              <% unless @user.description.blank? %>
                <div class="desc-user">
                  <h4>Présentation</h4>
                  <%= simple_format @user.description %>
                </div>
              <% end %>
              <% if @user.host? %>
                <% unless @user.specialties.blank? %>
                  <h4>Spécialités</h4>
                  <%= simple_format@user.specialties %>
                <% end %>
                <% if @user.localized_reception_days.any? %>
                  <h4>Jours de réception</h4>
                  <ul>
                    <% @user.localized_reception_days.each do |day| %>
                    <li><%= day %></li>
                    <% end %>
                  </ul>
                <% end %>
              <% end %>
              <% reviews = @user.reviews_received.approved %>
              <% if reviews.any? %>
              <hr/>
              <h2><span class="style-user"><%= reviews.count %> avis</span></h2>
              <div class="row">
                <div class="published-reviews col-12">
                  <ul class="list-unstyled">
                    <% reviews.each do |review| %>
                    <li>
                      <p class="small profil-reviews">
                        <%= link_to user_path(user_slug: review.from.slug) do %>
                        <%= render 'users/user_small', user: review.from %>
                        <% end %>
                      </p>
                      <span class="date-reviews">Avis publié le <%= l review.created_at, format: :long %></span>
                      <p><%= simple_format review.text %></p>
                    </li>
                    <% end %>
                  </ul>
                </div>
              </div>
              <% end %>

              <% if @map_center %>
                <div id="map" data-center="<%= @map_center %>" data-zoom="13"></div>
              <% end %>

              <%= link_to "ENVOYER UN MESSAGE", my_conversation_path(user_slug: @user.slug), class: "btn btn-primary btn-default" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>