<header class="header__container container">
  <div class="d-md-flex align-items-center justify-content-md-between justify-content-xs-center">
    <p class="header__title text-md-left text-center">Bienvenue, ce midi c'est chez <span class="text-nowrap">Mamie !</span></p>

    <div class="text-md-right text-center">
      <%= link_to "Je suis hôte", new_user_registration_path(host_sign_up: true), class: "button--brown mx-2 my-2 bd-highlight" %>
      <%= link_to "Je suis convive", new_user_registration_path(host_sign_up: false), class: "button--blue mx-2 my-2 bd-highlight" %>
    </div>
  </div>

  <!-- Hero -->
  <div class="hero__container">
  </div>
</header>

<!-- Where to find us -->
<section class="section__container container">
  <div class="row">

    <div class="col-md-6 align-self-center">
      <h1 class="section__title">Paupiette est à
        <span class="color--blue">Paris</span>,<br>
        <span class="color--blue">Bordeaux</span> &amp;
        <span class="color--blue">Quimper</span> !
      </h1>
      <p class="newsletter__description">Laissez-nous vos coordonnées pour être tenu au courant de l'ouverture dans votre région :</p>

      <!-- Newsletter -->
      <form class="mb-3">
        <input class="input__field" type="text" name="firstname" placeholder="Prénom"><br>
        <input class="input__field" type="text" name="location" placeholder="Ville ou région"><br>
        <input class="input__field" type="email" name="firstname" placeholder="Email"><br>
        <input class="button--blue bg--transparent mt-3" type="submit" value="Tenez-moi informé">
      </form>
    </div>

    <div class="col-md-6 align-self-center">
      <!-- Map -->
      <div>
        <%= image_tag "map.jpg", class: "img-fluid" %>
      </div>
    </div>
  </div>
</section>


<!-- About us -->
<section class="about__section section__container container">
  <div class="row">

    <div class="col-lg-6 align-self-center">
      <div class="mb-4">
        <%= image_tag "about-us.jpg", class: "img-fluid" %>
      </div>
    </div>

    <div class="col-lg-6 align-self-center mb-5">
      <h2 class="section__title">L'histoire de <span class="color--blue"> Paupiette</span></h2>
      <h3 class="section__subtitle">Paupiette réunit séniors et étudiants sur le temps du <span class="text-nowrap"> déjeuner !</span></h3>
      <p class="text--default pt-3 mb-md-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br><br> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

  </div>
</section>

<!-- How it works -->
<section class="steps__container container-fluid">
  <div class="container">

    <div class="row">
      <h2 class="section__title--white col-12">Paupiette en 3 étapes</h2>

      <div class="col-md-4 mt-4 px-5">
        <div class="steps__illustration">
          <%= image_tag "illustration-step1.png", class: 'img-fluid', width: '333', height: '264' %>
        </div>
        <p class="steps__description">Remplissez votre profil hôte, vos spécialités et disponibilités</p>
      </div>

      <div class="col-md-4 mt-4 px-5">
        <div class="steps__illustration">
          <%= image_tag "illustration-step2.png", class: 'img-fluid', width: '305', height: '201' %>
        </div>
        <p class="steps__description">Les convives contactent les hôtes et décident ensemble de leur rencontre</p>
      </div>

      <div class="col-md-4 mt-4 px-5">
        <div class="steps__illustration">
          <%= image_tag "illustration-step3.png", class: 'img-fluid', width: '335', height: '208' %>
        </div>
        <p class="steps__description">Accueillez les convives à votre domicile</p>
      </div>

    </div>
  </div>
</section>

<!-- Pricing -->
<section class="pricing__container section__container container">
  <h2 class="section__title mb-5">Les formules de <span class="color--blue">Paupiette</span> :</h2>
  <div class="row">

    <div class="pricing__col col-md-4 m-auto text-center">
      <div>
        <%= image_tag "meal-1.png", class: 'img-fluid', width: '359', height: '387' %>
      </div>
      <p class="mt-4">Plat</p>
    </div>

    <div class="pricing__col col-md-4 m-auto text-center">
      <div>
        <%= image_tag "meal-2.png", class: 'img-fluid', width: '442', height: '472' %>
      </div>
      <p class="mt-4">Entrée + Plat <br> <span class="color--redwine"> ou </span> Plat + Dessert </p>
    </div>

    <div class="pricing__col col-md-4 m-auto text-center">
      <div>
        <%= image_tag "meal-3.png", class: 'img-fluid', width: '431', height: '460' %>
      </div>
      <p class="mt-4">Entrée + Plat <br> + Dessert </p>
    </div>

  </div>
</section>


<!-- Caroussel -->
<section class="testimony__container container-fluid">
  <h2 class="section__title text-center"><span class="color--blue">Paupiette </span> en image</h2>

  <!-- Carousel items -->
  <div class="owl-carousel">
    <div class="carousel__item">
      <%= image_tag "testimony-1.jpg", class: '' %>
      <p class="testimony__caption"><span class="color--redwine">@</span><span class="color--greydark">Laura73</span></p>
      <p class="text--default">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="carousel__item">
      <%= image_tag "testimony-2.jpg", class: '' %>
      <p class="testimony__caption"><span class="color--redwine">@</span><span class="color--greydark">Laura73</span></p>
      <p class="text--default">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="carousel__item">
      <%= image_tag "testimony-3.jpg", class: '' %>
      <p class="testimony__caption"><span class="color--redwine">@</span><span class="color--greydark">Laura73</span></p>
      <p class="text--default">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="carousel__item">
      <%= image_tag "testimony-4.jpg", class: '' %>
      <p class="testimony__caption"><span class="color--redwine">@</span><span class="color--greydark">Laura73</p>
      <p class="text--default">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>

  <!-- Controls -->
  <div class="carousel__controls">
    <div class="carousel__control--prev">
      <%= image_tag "icon-arrow-left.png", width: '12', height: '21' %>
    </div>
    <div class="carousel__control--next">
      <%= image_tag "icon-arrow-right.png", width: '12', height: '21' %>
    </div>
  </div>
</section>










