<div class="hero">
  <div class="container">
    <div class="row mt-5">
      <% if current_user.nil? %>
        <div class="col-lg-7 offset-md-1">
          <h1>Ce midi, c'est&nbsp;chez&nbsp;Mamie&nbsp;!</h1>
        </div>
        <div class="btn-1 col-lg-2 offset-lg-0 col-sm-5 offset-md-1">
          <%= link_to 'Je suis hôte', new_user_registration_path(as_host: true), class: 'btn btn-block' %>
        </div>
        <div class="btn-2 col-lg-2 offset-lg-0 col-sm-5 offset-sm-0">
          <%= link_to 'Je suis convive', new_user_registration_path(as_host: false), class: 'btn btn-block' %>
        </div>
      <% else %>
        <div class="col-lg-11 offset-md-1">
          <h1>Ce midi, c'est&nbsp;chez&nbsp;Mamie&nbsp;!</h1>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-11 offset-md-1">
        <%= image_tag 'hero.jpg', class: 'hero__image' %>
      </div>
    </div>
  </div>
</div>

<% if current_user.nil? %>
  <div class="soon">
    <div class="container">
      <div class="row">
        <div class="col-md-11 offset-md-1">
          <div class="row">
            <div class="col-form col-lg-6">
              <h2>Paupiette est à <span class="style-ville">Paris</span>,<br/><span class="style-ville">Bordeaux</span> &amp;&nbsp;<span class="style-ville">Quimper</span>&nbsp;!
              </h2>
              <p>Laissez-nous vos coordonnées pour être tenu<br/>au courant de l'ouverture dans votre région&nbsp;:</p>
              <div class="row form-home">
                <%= simple_form_for @preregistration do |f| %>
                <%= f.input :first_name, label: false, placeholder: 'Prénom' %>
                <%= f.association :city, label: false, include_blank: 'Ville', collection: @preregistration_cities %>
                <%= f.input :email, label: false, placeholder: 'Email' %>

                <%= f.button :submit, 'Tenez-moi informé', class: "btn-default btn-form" %>
              </div>
              <% end %>
            </div>
            <div class="col-map col-lg-6">
              <div id="map" data-center="<%= @map_center %>" data-markers="<%= @map_cities %>" data-zoom="5.6"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="history mt-5">
  <div class="container">
    <div class="row">
      <div class="img-history col-lg-5 offset-lg-1 col-md-11 offset-md-1">
        <%= image_tag "about-us.jpg", class: "img-fluid" %>
      </div>
      <div class="col-lg-5 offset-lg-0 col-md-11 offset-md-1">
        <h2>Le concept de <span class="style-name">Paupiette</span></h2>
        <h3>Paupiette réunit séniors et étudiants sur le temps du&nbsp;déjeuner&nbsp;!</h3>
        <p>Nous luttons contre la solitude des séniors tout en proposant un repas complet à prix accessible aux étudiants.</p>
      </div>
    </div>
  </div>
</div>

<div class="how">
  <div class="container">
    <div class="row">
      <div class="col-md-11 offset-md-1">
        <h2><i>Paupiette</i> en 3 étapes</h2>
        <div class="row">
          <div class="col-lg-4 col-md-12 text-center">
            <div class="steps-illustration1">
              <%= image_tag "illustration-step1.png", class: 'img-fluid', width: '335', height: '277' %>
            </div>
            <p>Remplissez votre profil hôte,<br/>vos spécialités et disponibilités</p>
          </div>
          <div class="col-lg-4 col-md-12 text-center">
            <div class="steps-illustration2">
              <%= image_tag "illustration-step2.png", class: 'img-fluid', width: '309', height: '276' %>
            </div>
            <p>Les convives contactent<br/>les hôtes et décident ensemble<br/>de leur rencontre</p>
          </div>
          <div class="col-lg-4 col-md-12 text-center">
            <div class="steps-illustration3">
              <%= image_tag "illustration-step3.png", class: 'img-fluid', width: '341', height: '276' %>
            </div>
            <p>Accueillez les convives<br/>à votre domicile</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pricing">
  <div class="container">
    <div class="row">
      <div class="col-md-11 offset-md-1">
        <h2 class="mt-5">Les formules de <span class="style-name">Paupiette</span></h2>
        <p>Des formules à prix unique</p>
        <div class="row mt-5">
          <div class="col-md-4 text-center">
            <%= image_tag "home/4.png", class: 'img-fluid' %>
            <p>Plat</p>
          </div>
          <div class="col-md-4 text-center">
            <%= image_tag "home/5.png", class: 'img-fluid' %>
            <p>Entrée + Plat <br/> ou Plat + Dessert </p>
          </div>
          <div class="col-md-4 text-center">
            <%= image_tag "home/7.png", class: 'img-fluid' %>
            <p>Entrée + Plat <br/> + Dessert </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="invitation">
  <div class="container">
    <div class="row">
      <div class="col-md-11 offset-md-1">
        <h2 class="mt-5">Une invitation <span class="style-name">"comme à la maison"</span></h2>
        <div class="row mt-5">
          <!-- <div class="col-md-6 offset-md-1">
          </div>
          <div class="col-md-5">
            <%= image_tag 'hero.jpg', class: 'invitation__image' %>
          </div> -->
          <div class="col-md-12 invitation__image mb-5">
            <%= image_tag 'invitation.jpg' %>
          </div>
          <div class="col-md-4 text-center">
            <%= image_tag 'invitation-01.jpg' %>
            <h3>Raison d'être</h3>
            <p>Parce que nous pensons que le déjeuner est l'épicentre du lien social et la meilleure manière de faire connaissance ...</p>
          </div>
          <div class="col-md-4 text-center">
            <%= image_tag 'invitation-02.jpg' %>
            <h3>Proposition</h3>
            <p>... nous proposons une plateforme collaborative et non lucrative de mise en relation, pour encourager les repas intergénérationnels, sur la base d'un tarif fixe et accessible ...</p>
          </div>
          <div class="col-md-4 text-center">
            <%= image_tag 'invitation-03.jpg' %>
            <h3>Cible</h3>
            <p>... à tous ceux qui souhaitent faire de leur déjeuner un moment sympathique et de découverte autour d'une cuisine familiale.</p>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>
