<%= content_for :title, t('my_cities.users.to_approve') %>

<div class="container">
  <h1><%= t('my_cities.users.to_approve') %></h1>

  <table class="table">
    <thead>
      <tr>
        <th width="600" >Carte d'identité</th>
        <th>Utilisateur</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <% if user.identity_card.image? %>
              <%= image_tag user.identity_card, class: 'img-fluid' %>
            <% else %>
              <%= link_to user.identity_card.filename, user.identity_card, target: :_blank %>
            <% end %>
          </td>
          <td>
            <%= link_to user_path(user_slug: user.slug) do %>
              <%= render 'users/user_small', user: user %>
            <% end %>
          </td>
          <td>
            <%= link_to 'Envoyer un message', my_conversation_path(user_slug: user.slug), class: 'btn btn-primary btn-sm' %>
            <%= link_to 'Valider le profil', my_cities_user_approve_path(city_slug: @city.slug, user_slug: user.slug), method: :post, class: 'btn btn-primary btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>