<%= content_for :title, @city %>

<h2><%= @users.count %> hôtes<%= 's' if @users.many? %></h2>

<%= paginate @users, theme: 'twitter-bootstrap-4' %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Prénom</th>
      <th scope="col">Nom</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.email, [:admin, user] %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users, theme: 'twitter-bootstrap-4' %>
