<%= content_for :title, @city %>

<div class="row">
  <div class="col-md-8">
    <h2><%= @preregistrations.count %> préinscription<%= 's' if @preregistrations.many? %></h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">Prénom</th>
        </tr>
      </thead>
      <tbody>
        <% @preregistrations.each do |preregistration| %>
          <tr>
            <td><%= preregistration.email %></td>
            <td><%= preregistration.first_name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <h2>Export csv</h2>
    <textarea style="width: 100%" rows="10" class="form-control" disabled><% @preregistrations.each do |preregistration| %><%= preregistration.email %>;<%= preregistration.first_name %>;<%= preregistration.city %>
<% end %></textarea>
  </div>
</div>

