<%= content_for :title, @city %>

<%= content_for :subtitle do %>
  <% if @city.inactive? %><span class="badge badge-light">Ville non active</span><br/><br/><% end %>
  <%= link_to 'Modifier', edit_admin_city_path(@city), class: 'btn btn-primary' %>
<% end %>

<div class="row">
  <div class="col-md-3">
    <h2><%= @city.ambassadors.count %> ambassadeur<%= 's' if @city.ambassadors.many? %></h2>
    <p><%= link_to 'Voir la liste', ambassadors_admin_city_path(@city), class: 'btn btn-primary' %></p>
    <ul class="list-unstyled">
      <% @city.ambassadors.each do |user| %>
        <li><%= link_to user, [:admin, user] %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-3">
    <h2><%= @city.guests.count %> convive<%= 's' if @city.guests.many? %></h2>
    <p><%= link_to 'Voir la liste', guests_admin_city_path(@city), class: 'btn btn-primary' %></p>
  </div>
  <div class="col-md-3">
    <h2><%= @city.hosts.count %> hôte<%= 's' if @city.hosts.many? %></h2>
    <p><%= link_to 'Voir la liste', hosts_admin_city_path(@city), class: 'btn btn-primary' %></p>
  </div>
  <div class="col-md-3">
    <h2><%= @city.preregisters.count %> préinscription<%= 's' if @city.preregisters.many? %></h2>
    <p><%= link_to 'Voir la liste', preregisters_admin_city_path(@city), class: 'btn btn-primary' %></p>
  </div>
  <!--
  <div class="col-md-3">
    <h2>0 repas</h2>
  </div>
  -->
</div>
