<%= content_for :title, @city %>

<%= content_for :subtitle do %>
  <%= link_to 'Modifier', edit_admin_city_path(@city), class: 'btn btn-primary' %>
<% end %>

<h2><%= @city.users.count %> utilisateurs</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Prénom</th>
      <th scope="col">Nom</th>
      <th scope="col">Rôle</th>
    </tr>
  </thead>
  <tbody>
    <% @city.users.each do |user| %>
      <tr>
        <td><%= link_to user, [:admin, user] %></td>
        <td><%= user.first_name %></td>
        <td><%#= user.last_name %></td>
        <td><%= user.role %></td>
      </tr>
    <% end %>
  </tbody>
</table>
