<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @meal.date %>
</p>

<p>
  <strong>Host:</strong>
  <%= @meal.host %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @meal.capacity %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
