<div class="message <%= message.from == current_user ? 'message--from-me' : 'message--from-someone-else' %>">
  <div class="message-from-date">
    <p><%= link_to message.from, user_path(user_slug: message.from.slug) %> - <%= l message.created_at, format: :short %></p>
  </div>
  <div class="message-content">
    <p><%= simple_format message.content %></p>
    <span class="badge badge-primary">
      <% if message.read_at.nil? %>
      <%= t('my.messages.not_read') %>
      <% else %>
      <%= t('my.messages.read_on', date: l(message.read_at, format: :long)) %>
      <% end %>
    </span>
  </div>
</div>