<div class="message <%= message.from == current_user ? 'message--from-me' : 'message--from-someone-else' %>">
  <p><em><strong><%= message.from %></strong>, le <%= l message.created_at, format: :short %> :</em></p>
  <p><%= message.content %></p>
  
  <span class="badge badge-primary">
    <% if message.read_at.nil? %>
      Message non lu
    <% else %>
      Lu le <%= l message.read_at %>
    <% end %>
  </span>
</div>