<div class="message <%= message.from == current_user ? 'message--from-me' : 'message--from-someone-else' %>">
  <p><%= message.from %>, <%= l message.created_at, format: :short %></p>
  <p><%= message.content %></p>
  <span class="badge badge-primary">
    <% if message.read_at.nil? %>
      <%= t('my.messages.not_read') %>
    <% else %>
      <%= t('my.messages.read_on', date: l(message.read_at, format: :long)) %>
    <% end %>
  </span>
</div>