<%= content_for :title, t('menu.my.messages') %>

<div class="container">
  <%= render 'my/nav' %>

  <h2><%= t('menu.my.messages') %></h2>

  <ul class="list-unstyled">
  <% @conversations.each do |conversation| %>
    <% user = conversation.other(current_user).first %>
    <% next if user.nil? # Deleted user %>
    <li>
      <%= link_to user, my_conversation_path(user_slug: user.slug) %>
      <span class="badge"><%= conversation.messages.unread.received_from(user).count %> messages non lus</span>
    </li>
  <% end %>
  </ul>

  <h3>Contacter mes ambassadeurs</h3>
  <ul class="list-unstyled">
    <% current_user.city.ambassadors.each do |ambassador| %>
      <li><%= link_to ambassador, my_conversation_path(user_slug: ambassador.slug) %></li>
    <% end unless current_user.city.nil? %>
  </ul>
</div>