<% title = "#{t('my.messages.conversation_with')} #{@user}" %>
<%= content_for :title, title %>
<%= render 'my/nav' %>
<%= render 'my/container' %>
  <h2>
    <%= t('my.messages.conversation_with') %>
    <%= link_to @user, user_path(user_slug: @user.slug) %>
  </h2>
  <div class="conversation">
    <div class="row">
      <div class="col-lg-2 col-4">
        <%= link_to user_path(user_slug: @user.slug) do %>
          <% if @user.photo.attached? %>
            <%= image_tag @user.photo.variant(resize: '60x60^', combine_options: { gravity: 'center', crop: '60x60+0+0' }), class: 'img-fluid img-user img-user-3' %>
          <% else %>
            <%= image_tag 'avatar.png', class: 'img-fluid img-user img-user-3' %>
          <% end %>
        <% end %>
        <%= render 'users/approved', user: @user %>
      </div>
      <div class="col-lg-10">
        <% if @conversation %>
        <% @conversation.messages.each do |message| %>
        <%= render 'message', message: message %>
        <% end %>
        <% else %>
        <p><%= t('my.messages.no_messages') %></p>
        <% end %>
      </div>
    </div>
  </div>

  <% if current_user.host? %>
    <div class="row collapse show conversation__conversion">
      <div class="col-lg-6 offset-lg-6">
        <h3>Êtes-vous tombés d'accord sur un repas ?</h3>
        <%= simple_form_for [:my, Meal.new(host: current_user, capacity: 1, confirmed: 1, date: Date.tomorrow)] do |f| %>
          <%= f.input :host_id, as: :hidden %>
          <%= f.input :capacity, as: :hidden %>
          <%= f.input :confirmed, as: :hidden %>
          <%= f.input :date, as: :hidden %>
          <a href="#" class="btn btn-primary btn-sm" data-toggle="collapse" data-target=".conversation__conversion">Non, pas encore</a>
          <%= f.submit 'Oui', class: 'btn btn-primary btn-sm' %>
          <%= link_to 'Oui, mais il manque des convives', new_my_meal_path, class: 'btn btn-primary btn-sm' %>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= simple_form_for @message, url: my_send_message_path(user_slug: @user.slug) do |f| %>
    <%= f.input :from_id, as: :hidden %>
    <%= f.input :content, label: false, placeholder: t('my.messages.type_your_message') %>
    <%= f.button :submit, t('my.messages.send'), class: 'btn-default' %>
  <% end %>
  <div class="previous">
    <a href="<%= my_messages_path %>"><i class="fas fa-angle-double-left"></i> Revenir aux messages</a>
  </div>
<%= render 'my/container_end' %>