<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> | Espace d'administration | Paupiette</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'admin', media: 'all' %>
    <%= javascript_include_tag 'admin' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to 'Paupiette', admin_root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><%= link_to 'Tableau de bord', admin_root_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Villes', admin_cities_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Utilisateurs', admin_users_path, class: 'nav-link' %></li>
        </ul>
      </div>
    </nav>
    <main class="container-fluid">
      <h1><%= yield :title %></h1>
      <%= yield %>
    </main>
  </body>
</html>