<% content_for :title, 'Utilisateurs' %>

<div class="row">
  <div class="col-md-3">
    <h2><%= @users.admins.count %> administrateur<%= 's' if @users.admins.many? %></h2>
    <p><%= link_to 'Voir la liste', admins_admin_users_path, class: 'btn btn-primary' %></p>
  </div>
  <div class="col-md-3">
    <h2><%= @users.ambassadors.count %> ambassadeur<%= 's' if @users.ambassadors.many? %></h2>
    <p><%= link_to 'Voir la liste', ambassadors_admin_users_path, class: 'btn btn-primary' %></p>
  </div>
  <div class="col-md-3">
    <h2><%= @users.guests.count %> convive<%= 's' if @users.guests.many? %></h2>
    <p><%= link_to 'Voir la liste', guests_admin_users_path, class: 'btn btn-primary' %></p>
  </div>
  <div class="col-md-3">
    <h2><%= @users.hosts.count %> hôte<%= 's' if @users.hosts.many? %></h2>
    <p><%= link_to 'Voir la liste', hosts_admin_users_path, class: 'btn btn-primary' %></p>
  </div>
</div>

<%= paginate @users, theme: 'twitter-bootstrap-4' %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Prénom</th>
      <th scope="col">Nom</th>
      <th scope="col">Ville</th>
      <th scope="col">Rôle</th>
      <th scope="col">Ambassadeur ?</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.email, [:admin, user] %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.city %></td>
        <td><%= user.role %></td>
        <td><%= user.ambassador? ? "#{user.managed_cities.join(', ')}" : "Non" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users, theme: 'twitter-bootstrap-4' %>
