<%= content_for :title, @user %>

<%= content_for :subtitle do %>
  <% if @user.host? %><span class="badge badge-light">Hôte</span><br/><br/><% end %>
  <%= link_to 'Modifier', edit_admin_user_path(@user), class: 'btn btn-primary' %>
<% end %>

<%= link_to user_path(user_slug: @user.slug), user_path(user_slug: @user.slug) %>

<div class="row">
  <div class="col-md-3">
    <h2>Coordonnées</h2>
    <p>Ville: <%= link_to @user.city, [:admin, @user.city] %></p>
  </div>
  <div class="col-md-3">
    <h2>Ambassadeur</h2>
    <ul class="list-unstyled">
      <% @user.managed_cities.each do |city| %>
        <li><%= link_to city, [:admin, city] %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-3">
    <h2>Messages envoyés</h2>
    <ul class="list-unstyled">
      <% @user.messages_sent.each do |message| %>
      <li>
        <p><%= message %></p>
        <small>A <%= message&.to %><br/><%= l message.created_at %></small>
        <hr/>
      </li>
      <% end %>
    </ul>
  </div>
</div>