<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <h2>A propos</h2>
        <ul class="list-unstyled">
          <li><%= link_to 'Espace presse', press_path %></li>
          <li><%= link_to 'Qui sommes-nous', about_path %></li>
        </ul>
      </div>
      <div class="col-md-5">
        <h2>Mentions légales</h2>
        <ul class="list-unstyled">
          <li><%= link_to 'Conditions générales d\'utilisation', legals_path %></li>
          <li><%= link_to 'Confidentialité', privacy_path %></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h2>Suivez-nous</h2>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/paupiette.food">
              <%= fa_icon 'facebook-square' %>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://twitter.com/paupiette_food">
              <%= fa_icon 'twitter-square' %>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <h2>Nos partenaires</h2>
        <ul class="list-inline">
          <li class="list-inline-item">logo</li>
        </ul>
      </div>
    </div>
  </div>
</footer>