<nav class="navbar navbar-expand-md">
  <div class="container">
    <%= link_to image_tag('logo.svg', width: 200), root_path, class: 'navbar-brand' %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><%= link_to t('menu.hosts'), hosts_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to t('menu.ambassadors'), ambassadors_path, class: 'nav-link' %></li>
        <% if current_user.nil? %>
          <li class="nav-item"><%= link_to t('menu.signin'), new_user_session_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to t('menu.signup'), new_user_registration_path, class: 'nav-link' %></li>
        <% else %>
          <li class="nav-item"><%= link_to t('menu.my.name'), my_root_path, class: 'nav-link' %></li>

          <li class="nav-item dropdown">
            <a  id="navbarDropdownMenuUser" 
                class="nav-link dropdown-toggle" 
                href="#" 
                data-toggle="dropdown" 
                aria-haspopup="true" 
                aria-expanded="false">
              <%= current_user %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuUser">
              <%= link_to t('menu.my.messages'), my_messages_path, class: 'dropdown-item' %>
              <%= link_to t('menu.my.profile'), my_profile_path, class: 'dropdown-item' %>
              <!--
              <%= link_to t('menu.my.advices'), my_advices_path, class: 'dropdown-item' %>
              <%= link_to t('menu.my.meals'), my_meals_path, class: 'dropdown-item' %>
              -->
              <% if can? :manage, :city %>
                <%= link_to t('menu.my_cities.name'), my_cities_root_path, class: 'dropdown-item' %>
              <% end %>
              <% if can? :access, :admin %>
                <%= link_to t('menu.admin'), admin_root_path, class: 'dropdown-item' %>
              <% end %>
              <div class="dropdown-divider"></div>
              <%= link_to t('menu.signout'), destroy_user_session_path, class: 'dropdown-item' %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>