<nav class="container navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to image_tag('logo.png'), root_path, class: 'navbar-brand' %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><%= link_to 'Annonces', adverts_path, class: 'menu__link--active nav-link' %></li>
      <li class="nav-item"><%= link_to 'Ambassadeurs', ambassadors_path, class: 'menu__link nav-link' %></li>
      <% if current_user.nil? %>
        <li class="nav-item"><%= link_to 'Se connecter', new_user_session_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'S\'inscrire', new_user_registration_path, class: 'nav-link' %></li>
      <% else %>
        <li class="nav-item"><%= link_to 'Mon espace', dashboard_root_path, class: 'nav-link' %></li>
        <% if can? :access, :admin %>
        <li class="nav-item"><%= link_to 'Admin', admin_root_path, class: 'nav-link' %></li>
        <% end %>
        <li class="nav-item"><%= link_to 'Se déconnecter', destroy_user_session_path, class: 'nav-link' %></li>
      <% end %>
    </ul>
  </div>
</nav>