<div class="container">
  <div class="row">
    <div class="profil-nav col-md-11 offset-md-1">
      <h1><span class="style-user">Bonjour</span> <%= current_user.to_short_s %></h1>
      <div class="row">
        <div class="nav nav-tabs pl-3 col-12" id="nav-tab" role="tablist">
          <%= link_to t('my.messages.name'), my_messages_path, class: "col-md-3 nav-item nav-link #{'active' if controller_name == 'messages'}" %>
          <%= link_to t('my.profile.name'), my_profile_path, class: "col-md-3 nav-item nav-link #{'active' if controller_name == 'profile'}" %>
          <%= link_to t('my.reviews.name'), my_reviews_path, class: "col-md-3 nav-item nav-link #{'active' if controller_name == 'reviews'}" %>
          <%= link_to t('my.meals.name'), my_meals_path, class: "col-md-3 nav-item nav-link #{'active' if controller_name == 'meals'}" if can? :create, Meal  %>
        </div>
      </div>
    </div>
  </div>
</div>
