<!DOCTYPE html>
<html>
  <head>
    <title>Paupiette</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <%= render 'nav' %>
    <main>
      <div class="container-fluid">
        <%= yield %>
      </div>
    </main>
    <%= render 'footer' %>
  </body>
</html>