<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= yield(:title).presence || 'Paupiette' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body class="<%= controller.controller_name %> <%= controller.action_name %>">
    <div class="container">
      <%= render 'nav' %>
      <%= render 'breadcrumb' %>
      <%= render 'flash' %>
    </div>
    <main>
      <%= yield %>
    </main>
    <%= render 'footer' %>
    <%= render 'gdpr/cookie_consent' %>

    <!--  <% if ENV['GOOGLE_MAPS_API_KEY'].present? %>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap"></script>
    <% end %> -->
  </body>
</html>